<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherStationService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WeatherStationService.My.MySettings>
            <setting name="ApcheServer_UserID" serializeAs="String">
                <value>userid</value>
            </setting>
            <setting name="ApcheServer_Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="ApcheServer_IPAddress" serializeAs="String">
                <value>192.168.1.14</value>
            </setting>
            <setting name="MQTT_IP_Address" serializeAs="String">
                <value>192.168.1.14</value>
            </setting>
            <setting name="ApcheServer_Webpage_Filename" serializeAs="String">
                <value>/var/www/html/index.html</value>
            </setting>
            <setting name="NewReadingsShouldBeAvailableInThisManyMinutes"
                serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OnFailedConnectionOrDisconncetRetryAfterThisManySeconds"
                serializeAs="String">
                <value>30</value>
            </setting>
        </WeatherStationService.My.MySettings>
    </userSettings>
</configuration>